body {
  text-align: center;
  background-color: #7FC7BD;
  color: #8EC447;
  font-family: 'Lora', serif;
  font-size: 40px;
}

h1 {
  font-size: 45px;
  color: #EDF7F2;
  font-family: 'Alice', serif;
}

.remove {
  text-align: center;
}

.remove:hover {
  color: red;
}

div {
  padding: 10px;
  /*padding-top: 20px;*/
}

table, #sample {
  padding-top: 15px;
  display: none;
  color: #8EC447;
  border: 2px solid #95C92C;

}

th {

  text-align: center;
  border: 2px solid #95C92C;

}

.table {
  border: 3px solid #95C92C;
  text-align: left;
  background-color: #fff;

}

tr, th {
  color: #95C92C;
  border: 2px solid #B5E555;

}

#add {
  width: 45px;
  height: 45px;
  padding-left: 9px;
  background-color: #4CB6C2;
  color: #EDF7F2;
  border: 2px solid #EDF7F2;
  border-radius: 50px;
}


.edit {
  text-align: center;
  border: #CDFF00;
}

.edit:hover {
  color: green;
}

#list {
  border: 2px solid #B5E555;

}

input {
  background-color: #7FC7BD;
  border: 2px solid #95C92C;
  font-size: 30px;
  margin: 10px;
  text-align: center;
  color: #EDF7F2;
  display: #EDF7F2;
}

#firstName, #lastName, #phoneNumber, #email {
  width: 200px;
  height: 40px;
  margin: 20px;
  border: 2px solid #95C92C;
  font-size: 15px;
}
